/*FONT FACE GENERATION */

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('/static/fonts/ProximaNova-Reg-webfont.eot');
    src: url('/static/fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('/static/fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('/static/fonts/ProximaNova-Sbold-webfont.eot');
    src: url('/static/fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
         url('/static/fonts/ProximaNova-Sbold-webfont.svg#ProximaNovaSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaExtrabold';
    src: url('/static/fonts/ProximaNova-Xbold-webfont.eot');
    src: url('/static/fonts/ProximaNova-Xbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ProximaNova-Xbold-webfont.ttf') format('truetype'),
         url('/static/fonts/ProximaNova-Xbold-webfont.svg#ProximaNovaExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaThin';
    src: url('/static/fonts/ProximaNova-Thin-webfont.eot');
    src: url('/static/fonts/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ProximaNova-Thin-webfont.ttf') format('truetype'),
         url('/static/fonts/ProximaNova-Thin-webfont.svg#ProximaNovaThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('/static/fonts/ProximaNova-Bold-webfont.eot');
    src: url('/static/fonts/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
         url('/static/fonts/ProximaNova-Bold-webfont.svg#ProximaNovaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}